# Klucze i sekrety (BARDZO WAŻNE)
*.json

# Pliki danych (duże pliki Parquet/CSV)
*.parquet
*.csv

# Śmieci po logach Dockera (te dziwne nazwy ze screena)
[auth]
[internal]
[stage-0]
CACHED
exporting
FROM
naming
transferring
writing
=

# Pliki Terraforma
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Systemowe i Python
__pycache__/
.DS_Store
HW1.ipynb